a {
  text-decoration: none;
}

.maintitle {
  font-size: xx-large;
  padding: 10px;
  width: 100vw;
  color: blanchedalmond;
  display:block;
  
}
.titlerogo{
  color: #fff;
  background: #47a89c;
  padding: 15px 0 15px 15px;
  border: 2px dashed rgba(255,255,255,0.5);
  border-radius: 6px;
  box-shadow: 0 0 0 5px #47a89c, 0 2px 3px 5px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Vidaloka', serif;
  text-align: left;
  font-weight: normal;
  color: #444;
    display: flex;
  justify-content: center;
  }

.description{
  padding: 0 0 0 5px;
  display: block;
  font-size: xx-small;
  color: #444;
  display:block;
  }

.user_nav {
  margin: 20px;
}

.lists-right {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  margin: 30px;
}

.lists{
  margin: 0 20px 0 20px;
}

.loginup {
  margin: 0 10px 0 10px;
  display: inline-block;
  max-width: 2500px;
  text-align: left;
  border: 2px solid #191970	;
  font-size: 16px;
  color:#00008B;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}

.loginup:hover{
  background-color: #00008B;
  border-color: #191970	;
  color: #FFF;
}


.post{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.make-up {
  display: inline-block;
  max-width: 2500px;
  text-align: left;
  border: 2px solid #191970	;
  font-size: 16px;
  color:#00008B;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  font-size: x-large;
}

.make-up:hover{
  background-color: #00008B;
  border-color: #191970	;
  color: #FFF;
}


.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.title {
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  margin: 0 0 10px 0;
  letter-spacing: 5px;
  font-size: xx-large;
}

.mess {
  display: flex;
  justify-content: center;
}

.message {
  width: 50%;
  line-height: 2;
  background-color:#191970;
  padding: 20px;
  position: center;
  z-index: 999;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  font-size: large;
}

footer {
  text-align: center;
}

.btnback {
  font-size: large;
}

.contenstsone{
  display: flex;
  justify-content: center;
}

.contentsrow{
  width: 50%;
  line-height: 2;
  padding: 20px;
  color: #ffffff;
  background-color:#191970;
  position: center;
  z-index: 999;
  border: solid;
  letter-spacing: 2px;
  margin: 20px;
}

.anserplease{
  font-weight: normal;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  margin: 0 0 10px 0;
  letter-spacing: 5px;
  font-size: xx-large;
}

.list_nav{
display: flex;
flex-direction: row-reverse;
margin: 0 20px;
}

.lists_haba{
  display: inline-block;
  width: 180px;
  height:50px;
  text-align: center;
  background-color: #5D99FF;
  font-size: 16px;
  line-height: 52px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #5D99FF;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.lists_haba:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}

.lists_haba:hover{
  color: #5D99FF;
}

.lists_haba:hover:after{
  height: 240%;
  opacity: 1;
}

.lists_haba:active:after{
  height: 340%;
  opacity: 1;
}